<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Términos y Condiciones</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">A continuación, se detallan los Términos y Condiciones que son aplicables para
                cualquier usuario que desee acceder o usar el Sitio o los Servicios, este podrá hacerlo sujetándose a
                los
                Términos y Condiciones, junto con todas las demás políticas y principios que rigen SKI Worker Selector y
                que son incorporados al presente Sitio directamente, por referencia o que son explicados o detallados en
                otras secciones.</p>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Capacidad legal</h1>
            <p class="lead">El servicio de SKI Worker Selector solo está disponible para personas que tengan la
                capacidad legal para ser contratadas. No podrá utilizarse ni acceder a los servicios personas que no
                tengan esa capacidad y los menores de edad.</p>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Uso del sitio</h1>
            <p class="lead">SKI Worker Selector cuenta solo con redes sociales asociadas en esta misma página cualquier
                link externo no está aprobado, por lo que SKI Worker Selector no se responsabiliza por apertura de links
                no mostrados en el mismo sitio.</p>
            <p class="lead">Los resultados obtenidos tras haber realizado la entrevista de trabajo no deben ser usados
                como única base para el diagnóstico o exclusión, por lo que es de suma importancia que estos resultados
                sean utilizados para la evaluación por parte de un profesional en RRHH quien es el que tiene el ultimo
                veredicto.</p>
            <p class="lead">En caso de tener cualquier duda, pregunta o por necesitar más información referente a un
                tema en particular o tener cualquier otra solicitud debe acudir a nuestras redes sociales oficiales, ya
                que SKI Worker Selector no se responsabiliza de los datos proporcionados a terceros o fuentes no
                autorizadas.</p>
            <p class="lead">El usuario se obliga a mantener la confidencialidad de su clave de acceso, asumiendo
                totalmente la responsabilidad por el mantenimiento de la confidencialidad de su clave secreta registrada
                en este sitio web una vez finalizado el proceso de entrevista. Dicha clave es de uso personal, y su
                entrega a terceros no involucra responsabilidad de SKI Worker Selector o de las empresas en caso de
                utilización indebida, negligente o incorrecta.</p>
            <p class="lead">El usuario se compromete a notificar a SKI Worker Selector en forma inmediata y por medio
                idóneo y fehaciente, cualquier uso no autorizado de su clave, ingreso por terceros no autorizado o
                perdida.</p>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Modificaciones del acuerdo</h1>
            <p class="lead">SKI Worker Selector podrá modificar los Términos y Condiciones en cualquier momento,
                haciendo públicos en el Sitio los términos modificados. Todos los términos modificados entrarán en vigor
                a los 10 (diez) días de su publicación.</p>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Propiedad intelectual</h1>
            <p class="lead">Todo el contenido incluido o puesto a disposición del usuario en el Sitio, incluyendo
                marcas, dibujos, textos, gráficas, logos, íconos, imágenes, archivos de audio, descargas digitales y
                cualquier otra información (el “Contenido”), es de propiedad de SKI Worker Selector o ha sido licenciada
                a ésta por las Empresas Proveedoras. La compilación del Contenido es propiedad exclusiva de SKI Worker
                Selector. y, en tal sentido, el usuario debe abstenerse de extraer y/o reutilizar partes del Contenido
                sin el consentimiento previo y expreso de la Empresa.</p>
        </div>
    </div>
</div>