<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
  <p>{{body}}</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="navigateToAnalytics()">Resultados</button>
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Salir</button>
</div>

<!-- 
<form #startForm="ngForm" novalidate>
  <div class="modal-body">
    <p>{{body}}</p>
    <label>Nombre: </label>
    <input [(ngModel)]="userData.name" #username="ngModel" type="text" name="username" required>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" [disabled]="!startForm.valid"
      (click)="onSubmit()">Guardar</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Salir</button>
  </div>
</form>
 -->