<div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
        <h1 class="display-5 fw-bold text-white">Nosotros</h1>
        <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-4">Somos un equipo de jóvenes que buscamos ayudar a las organizaciones con la ardua e
                importante tarea de “Reclutamiento y selección de personal” que desempeña cada uno de los departamentos
                de Recursos Humanos o conocidos comúnmente como RRHH respectivamente.</p>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Misión</h1>
            <p class="lead">Mejorar la gestión de todo lo relacionado al área de Reclutamiento y selección de personal
                con el objetivo de organizar y maximizar el desempeño de todos los vinculados con la empresa de tal
                forma que se pueda mejorar la productividad de la misma.</p>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

<div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
        <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
            <h1 class="display-4 fw-bold lh-1">Visión</h1>
            <p class="lead">Modernizar el proceso de Reclutamiento y selección de personal con la finalidad de
                seleccionar personal de calidad que potencie la eficiencia y el rendimiento de las organizaciones,
                además de ser capaz de automatizar y optimizar los recursos destinados a esta tarea.</p>
        </div>
    </div>
</div>
